<div>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTgCkKiWc9AnXF9DcUgWSkRZY9wi4Fvsv6KfzcPqI6GhAQpEQRj&usqp=CAU" 
    alt="stay home stay safe">
    <h2>CoronaVirus</h2>
    <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.
    <br>
        Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover without requiring special treatment.  Older people, and those with underlying medical problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
    <br>    
        The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it causes and how it spreads. Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face. 
     <br>   
        The COVID-19 virus spreads primarily through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
      <br>  
        At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments. WHO will continue to provide updated information as soon as clinical findings become available.Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.

</p>
<h4>Reported Cases and Deaths by Country</h4>
<br>
<p>The coronavirus COVID-19 is affecting 210 countries and territories around the world.
     The day is reset after midnight GMT+0. The list of countries and territories and their continental regional classification is based on the United Nations Geoscheme. 
     Sources are provided under "Latest Updates". Learn more about Worldometer's COVID-19 data</p>
</div>
