

<div *ngIf='totalWorld' class="world col-12">
  <div class="row">
    <div class="col-4">
      
        <div class="tile">
          <div class="title" title="Total Confirmed Cases">Total</div>
          <div class=" text-success active">{{totalWorld.cases.total | number}}</div>
        </div>
    </div>
    <div class="col-4">
        <div class="tile">
          <div class="title" title="Active cases">Active</div>
          <div class="text-primary active">{{totalWorld.cases.active | number}}</div>
        </div>
    </div>
    <div class="col-4">
        <div class="tile">
          <div class="title" title="Recovered cases">Recovered</div>
          <div class="text-info recovered">{{totalWorld.cases.recovered | number}}</div>
      </div>
    </div>
  </div>
</div>
<form class='ml-5' #user="ngForm" (ngSubmit)='search(user)' >
  <span class="badge badge-primary mr-3">Total Countries  {{searchList && searchList.length ?  searchList.length : 0}}</span>
  <span class="cursor badge badge-info p-1" (click)='search(null)'>Reload</span>
    <div class="row m-2">
        <div class="form-group col-9 ">
            <input type="text" name='country' placeholder="Country Search" class="form-control" ngModel>
        </div>
        <div class="col-2">   
            <button class="btn btn-primary">Search</button>
        </div>
    </div>
  
   </form>
   <div *ngIf='spinner' class="d-flex justify-content-center">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
  </div>  

  <div #map style="max-width: 900px; height: 500px;"></div>
  <div #pieChart style="max-width: 900px; height: 500px;"></div>
   <app-search-list *ngIf='!!searchList' [searchList]='searchList'></app-search-list>

